POSTFIX_MYHOSTNAME=smtp.example.com
POSTFIX_MYDOMAIN=example.com
POSTFIX_MYNETWORKS=127.0.0.0/8 10.0.0.0/8
POSTFIX_SMTP_PORT=25
POSTFIX_SUBMISSION_PORT=587

OPENDKIM_DOMAINS=example.com
OPENDKIM_SELECTOR=ee1
OPENDKIM_TRUSTED_HOSTS=127.0.0.1 localhost managed-smtp-postfix
OPENDKIM_KEYS_DIR=/srv/email-engine/opendkim/keys
OPENDKIM_DEBUG_PORT=8891
