POSTFIX_MYHOSTNAME=smtp.example.com
POSTFIX_MYDOMAIN=example.com
POSTFIX_MYNETWORKS=127.0.0.0/8 10.0.0.0/8
POSTFIX_SMTP_PORT=25
POSTFIX_SUBMISSION_PORT=587
POSTFIX_SPOOL_DIR=/srv/email-engine/postfix/spool
POSTFIX_LOG_DIR=/srv/email-engine/postfix/log
POSTFIX_TLS_DIR=/srv/email-engine/postfix/tls
POSTFIX_TLS_CERT_FILE=/etc/postfix/tls/tls.crt
POSTFIX_TLS_KEY_FILE=/etc/postfix/tls/tls.key
POSTFIX_TLS_SECURITY_LEVEL=may
POSTFIX_OUTBOUND_TLS_SECURITY_LEVEL=may

OPENDKIM_DOMAINS=example.com
OPENDKIM_SELECTOR=ee1
OPENDKIM_TRUSTED_HOSTS=127.0.0.1 localhost managed-smtp-postfix
OPENDKIM_KEYS_DIR=/srv/email-engine/opendkim/keys
OPENDKIM_DEBUG_PORT=8891

MANAGED_SMTP_DSN_MAILDIR=/srv/email-engine/mail/returns
MANAGED_SMTP_DSN_ARCHIVE_DIR=/srv/email-engine/mail/returns-archive
MANAGED_SMTP_DSN_QUARANTINE_DIR=/srv/email-engine/mail/returns-quarantine
